.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.logo_right {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  margin-right: 20px !important;
}

.logo_right >>> .ant-btn-link {
  color: black !important;
}

#content-grid * {
  z-index: 5;
}

#content-grid {
  margin-top: 40vh;
}

.site_layout_background {
  background: #942cfc;
  height: 100vh;
  padding: 14;
  margin: 0;
}

.header {
  background: #fff;
  position: fixed;
  width: 100vw;
  box-shadow: 0px 2px 10px 0px #00000033;
  z-index: 10;
}

.ant-card {
  width: fit-content;
  position: fixed;
}

.ant-card-body {
  position: fixed;
  height: 100vh;
  width: 174vh;
  border-radius: 3em;
  position: absolute;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
  transform: rotate(18.4deg);
}

#card-1 {
  top: 5vh;
  left: -40vw;
  z-index: 4;
}

#card-1 .ant-card-body {
  background: #f9f3ff;
}

#card-2 {
  top: 1vh;
  left: -30vw;
  z-index: 3;
}

#card-2 .ant-card-body {
  background: #e6ccff;
}

#card-3 {
  top: -3vh;
  left: -20vw;
  z-index: 2;
}

#card-3 .ant-card-body {
  background: #ca96ff;
}

#card-4 {
  top: -7vh;
  left: -10vw;
  z-index: 1;
}

#card-4 .ant-card-body {
  background: #ab57ff;
}

.call_to_action_btn {
  width: 100%;
  text-align: left;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.call_to_action_icon {
  float: right;
  margin-top: 0.2em;
  text-align: right !important;
}
