.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.logo_right {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  margin-right: 20px !important;
}

.logo_right >>> .ant-btn-link {
  color: black !important;
}

.content-grid * {
  z-index: 5;
}

.content-grid {
  margin-top: 40vh;
}

#content-grid-brief {
  z-index: 6;
  background-color: white;
}

.content-grid-brief {
  /* height: 517px; */
  margin: 75px 0;
}

.content-grid-brief-row{
  margin: 20px;
  text-align: center;
}

.landing_btn {
  font-size: 20px;
  background-color: #942CFC;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border:none;
  font-weight: 700;
  color: white;
  height: 3em;
}

.btn_white {
  background-color: white;
  color: #942CFC
}


.landing_btn_circle {
  border-radius: 50%;  
  width: 3.2em;
  height: 3.2em;
  margin-right: 1.5em;
}

.btn_small {
  font-size: 16px !important;
  height: 2.5em;
}


#content-grid-desc {
  z-index: 6;

  background-color: #F9F3FF;
}

.content-grid-desc-row{
  margin: 20px;
  text-align: left;
}

#content-grid-talent {
  z-index: 6;
  background-color: white;
}

.content-grid-talent-row{
  margin: 20px 50px;
  text-align: left;
}
.card_talent {
  margin: 15px;
  border-radius: 10px !important;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative !important;
  /* box-shadow: 0 1px 2px -2px rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 12%), 0 5px 12px 4px rgb(0 0 0 / 9%); */
}

.img_card_talent {
  height: 235px;
  border-radius: 10px !important;
  min-width: 300px;
  object-fit: cover;
}

.talent_name {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  margin-bottom: .5em;
}

.talent_job {
  margin-bottom: .5em;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.5);
}

.talent_desc {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  margin-bottom: 0;
}


.student_number {
  font-weight: 700;
  font-size: 64px;
  line-height: 1;
  text-align: center;
}

.student_btn {
  height: 96px;
  padding: 15px
}

.btn_desc {
  cursor: default;
}

.btn_desc[ant-click-animating-without-extra-node='true']::after,
.ant-click-animating-node {
  -webkit-animation: none;
  animation: none;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
  box-shadow: none

}

.img_partner {
  max-width: 400px;
  width: -webkit-fill-available
}

#content_footer {
  z-index: 6;
  background: #942cfc;
  height: 100px;
}

.site_layout_background {
  background: #942cfc;
  height: 100vh;
  padding: 14;
  margin: 0;
}

.header {
  background: #fff;
  position: fixed;
  width: 100vw;
  box-shadow: 0px 2px 10px 0px #00000033;
  z-index: 10;
}

.ant-card {
  width: fit-content;
  position: fixed;
  /* overflow-x: auto; */
}

.ant-card-body {
  position: fixed;
  height: 100vh;
  width: 174vh;
  border-radius: 3em;
  position: absolute;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
  transform: rotate(18.4deg);
}

#card-1 {
  top: 5vh;
  left: -40vw;
  z-index: 4;
}

#card-1 .ant-card-body {
  background: #f9f3ff;
}

#card-2 {
  top: 1vh;
  left: -30vw;
  z-index: 3;
}

#card-2 .ant-card-body {
  background: #e6ccff;
}

#card-3 {
  top: -3vh;
  left: -20vw;
  z-index: 2;
}

#card-3 .ant-card-body {
  background: #ca96ff;
}

#card-4 {
  top: -7vh;
  left: -10vw;
  z-index: 1;
}

#card-4 .ant-card-body {
  background: #ab57ff;
}

.call_to_action_btn {
  width: 100%;
  text-align: left;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.call_to_action_icon {
  float: right;
  margin-top: 0.2em;
  text-align: right !important;
}
