.logo {
  float: left;
  width: 120px;
  height: 31px;
  font-size: 1.3em;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.sider {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}

.sider_background {
  background-image: url('../../../public/assets/img/sidebar.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.sider_background>>>.ant-menu li .ant-menu-submenu-title,
.sider_background>>>.ant-menu-submenu-arrow {
  color: white !important;
  font-size: 2em;
}

.sider_background>>>.ant-menu-sub.ant-menu-inline {
  background: transparent;
}

.sider_background>>>.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #f5be41;
  font-size: 1.2rem;
  color: white;
}

.sider_background>>>.ant-menu-item {
  padding-left: 1.5em !important;
  font-size: 1.2rem;
}

.sider_background>>>.ant-menu {
  padding-left: 0 !important;
  color: white;
}

.sider_background>>>.ant-menu-submenu-title {
  color: white;
  font-size: 1.5rem;
}

.top-menu>>>* {
  color: black;
  font-size: medium;
}

.site_layout_background {
  margin-left: 250px !important;
  background: #fff;
  background-size: 50% 100%;
  border: 1px solid #E7E1E1;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  min-height: 90vh !important;
}

.header {
  background: #fff;
  position: fixed;
  width: 100vw;
  box-shadow: 0px 2px 10px 0px #00000033;
  z-index: 10;
}