.content_login {
  background: #ffffff;
  height: 100vh;
  padding: 14;
  margin: 0;
}

.content_row {
  /* height: 100vh; */
  /* justify-content: center; */
}

.content_row .content_left,
.content_row .content_right {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content_left {
  text-align: center;
}


.content_right {
  background-image: linear-gradient(to right,
      rgba(193, 229, 255, 1),
      rgba(136, 107, 255, 1));
  margin: 0 auto;
}

@media (max-width: 991px) {
  .content_right {
    display: none !important;
  }
}

.content_right img {
  width: 417px;
}

.content_right img {
  width: 417px;
}

/* CHOOSE FORM */
.sign_in_btn_choose_form {
  border: 1px solid #000000;
  border-radius: 10px;
  font-size: 23px;
  height: 60px;
  /* width: 70% !important; */
  margin-bottom: 1em;
}

.sign_in_btn_choose_form .anticon {
  float: left;
  height: 40px;
}

/* LOGIN-FORM */
.input_form {
  width: 401px;
  height: 60px;
  background: #eeeeee;
  border-radius: 10px;
}

.signup_form_back_btn {
  display: block;
  margin-left: .5em;
  color: #000000;
}

.input_form.ant-input, .input_form.ant-input-password {
  background-color: #eeeeee;
  font-size: 21px !important;
  margin-left: 0.5em !important;
}

.signup_form_forgot {
  display: block;
  text-align: center;
  font-size: 21px !important;
}

.ant-col-rtl .signup_form_forgot {
  float: left;
}

.terms_policy_checkbox {
  padding: 4px 15px !important;
}

.signup_form_button {
  width: 189px;
  height: 57px;
  font-size: 26px;
  border-color: transparent;
  background: #f5be41;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.footer {
  display: block;
  position: absolute;
  bottom: 1em;
  font-size: 1.4em;
}